@charset "utf-8";
/* CSS Document */
	
/* Main page layout*/
	
.main {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	border: thin ridge #000;
	background-color: #EEE;
}
body {
	background-color: #999;
}


#smallpage {
	margin-top:150px;
	text-align: center;
	width:350px;
	height:300px;
}

#largepage {
	text-align: center;
	width:960px;
	height:600px;
}

.title {
	padding:10px;
	margin:0px;
	background-color: #06F;
	background-image: url('banner.jpg');
	background-repeat: repeat-x;
	height: 50px;
	text-align: center;
}

/* Command line layout */

.menu {
	background:#CCC;
	text-align:right;
	padding:3px;
}

#console {
	width: 960px;
}


#output {
	overflow:auto;
	height:500px;
	margin-bottom:50px;
	padding-left:5px;
	padding-right:5px;
}

#form {
	position: absolute;
	left:0px;
	bottom:0px;
}

#input {
	width:960px;
}

.out {
  	display: none;
  	height: 24px;
}

.error {
	color: red;
	font-weight: bold;
}
